/* Define responsive styles for the modal */
@media (max-width: 768px) {
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .modal-content {
    width: 90%;
    max-width: 400px; /* Adjust the maximum width as needed */
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 769px) {
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .modal-content {
    width: 50%;
    max-width: 500px; /* Adjust the maximum width as needed */
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}
